<div class="list-group d-flex align-items-center">
  <div class="list-group-item d-flex d-flex rounded-pill mb-3 mx-5 bg-dark text-white" style="width: 30%;">

    <div
      class="d-flex align-items-center"
      style="margin-right: 10px;">

      <p
        style="margin: 0; margin-right: 10px;">
          KCal
      </p>

    </div>

    <input
      type="text"
      class="form-control form-control-sm rounded-pill"
      style="margin: 0;"
      placeholder="Ingresa la cantidad de calorías que necesitas actualmente..."
      [(ngModel)]="kcal">

  </div>
</div>


