<!-- navbar.component.html -->

<div class="navbar fixed-bottom navbar-light bg-light rounded-top-4 custom-navbar" style="background-color: #41325a !important; height: 80px;">
  <div class="container d-flex justify-content-around" style="font-size: 24px; padding: 10px 20px;">
    <button class="btn btn-dark btn-lg" style="font-size: 1em;" routerLink="nutricow/home" routerLinkActive="active">🏠</button>
    <button class="btn btn-dark btn-lg" style="font-size: 1em;" routerLink="nutricow/edit" routerLinkActive="active">🔨</button>
    <button class="btn btn-dark btn-lg" style="font-size: 1em;" routerLink="nutricow/info" routerLinkActive="active">ℹ️</button>
  </div>
</div>
