<div class="container">

  <ng-container *ngFor="let title of titles; let i = index">
    <div class="container">
      <div class="mb-5">
        <h3 class="mb-4 text-white">{{ title }}</h3>

        <ul class="list-group list-group-item-dark">
          <li *ngFor="let item of getItemsByIndex(i)" class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ item }}</span>
            <nutricow-add-button (click)="addQty(categories[i])" style="margin-left: auto;"></nutricow-add-button>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <div class="mb-5">
    Hola
  </div>

</div>
