<div class="container">

  <div class="mb-5">
    <h3 class="mb-4 text-white">🥛. Lácteos</h3>

    <ul
      *ngFor="let lacteo of lacteos"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ lacteo }}
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="mb-4 text-white">🍇. Frutas</h3>

    <ul
      *ngFor="let fruta of frutas"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ fruta }}
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="mb-4 text-white">🥦. Verduras</h3>

    <ul
      *ngFor="let verdura of verduras"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ verdura }}
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="mb-4 text-white">🌱. Leguminosas</h3>

    <ul
      *ngFor="let leguminosa of leguminosas"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ leguminosa }}
      </li>
      <nutricow-add-button></nutricow-add-button>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="mb-4 text-white">🥩. Carnes</h3>

    <ul
      *ngFor="let carne of carnes"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ carne }}
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="mb-4 text-white">🥑. Grasas sin proteína</h3>

    <ul
      *ngFor="let grasaSinProteina of grasasSinProteina"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ grasaSinProteina }}
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="mb-4 text-white">🥜. Grasas con proteína</h3>

    <ul
      *ngFor="let grasaConProteina of grasasConProteina"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ grasaConProteina }}
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h3 class="mb-4 text-white">🎑. Cereales</h3>

    <ul
      *ngFor="let cereal of cereales"
      class="list-group list-group-item-dark">

      <li class="list-group-item">
        {{ cereal }}
      </li>
    </ul>
  </div>

  <div class="mb-5">
    Hola
  </div>

</div>
