.zoom-out {
  transform: scale(.89);
  transform-origin: top center;
}

.text-completed {
  color: rgb(18, 104, 18);
}

.no-border {
  border: none !important;
}

.backg {
  background-color: rgba(13, 13, 13, 0.806);
}
