<div
  class="list-group mb-3">

    <div
      *ngFor="let category of categories"
      class="list-group-item bg-secondary d-flex justify-content-between rounded-pill mb-3 mx-5 bg-light">

      <div class="d-flex align-items-center emoji-with-shadow">
        {{ category.emoji }}
      </div>

      <div class="d-flex align-items-center mx-auto">
        <span
          [ngClass]="{'text-black': category.counter < category.upperLimit, 'text-success': category.counter === category.upperLimit}">
            {{ category.counter }} / {{ category.upperLimit }}
        </span>
      </div>

      <div class="d-flex align-items-center mx-auto justify-content-between">
        <span [ngClass]="{'text-black': category.counter < category.upperLimit, 'text-success': category.counter === category.upperLimit}">
          {{ category.counter }} / {{ category.upperLimit }}
        </span>
      </div>

      <div>
        <button
          class="btn btn-danger mx-2 btn-sm ">
            ➖
        </button>

        <button
          class="btn btn-success mx-1 btn-sm">
            ➕
        </button>
      </div>
  </div>
</div>
