<div
  class="list-group d-flex align-items-center zoom-out">

    <div
      *ngFor="let category of categories"
      class="list-group-item bg-secondary d-flex justify-content-between d-flex align-items-center rounded-pill mb-3 mx-5 bg-warning">

      <div class="d-flex align-items-center emoji-with-shadow">
        <h2>{{ category.emoji }}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h2>
      </div>

      <div class="d-flex align-items-center mx-auto">
        <span
          [ngClass]="{'text-black': category.counter < category.upperLimit, 'text-success': category.counter === category.upperLimit}">
            <strong>{{ category.counter }}</strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>{{ category.upperLimit }}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </strong>
        </span>
      </div>

      <div>
        <button
          class="btn btn-danger mx-2 btn-sm ">
            ➖
        </button>

        <button
          class="btn btn-success mx-1 btn-sm">
            ➕
        </button>
      </div>
  </div>

</div>
